/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide{
  transition: transform 2s ease-in-out ;
  opacity: 1;
  transform: translateX(0);
  
}


.slide.slide-out{
  transform: translateX(-100%);
}

 */




.icons{
  display: none;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  
}

.nav-list ul{
  
  gap: .8em;
}

.nav-list ul > li{
  list-style: none;
}

.btn{
  display: flex;
  transition: all .3s linear;
  
}


.btn:hover{
  transform: rotate(90deg);
}

.nav-list ul{
  height: 0;
  overflow: hidden;
  transition: all .3s linear;
}

.show-container{
  height: 10rem;
}


@media only screen and (min-width: 800px){
  .nav-list ul{
    display: flex;
    height: auto !important;
    align-items: center;
    justify-content: center;
  }

  .icons{
    display: flex;
  }

  .container{
    justify-content: space-evenly;
    padding: 2em 40px;
  }

  .btn{
    display: none;
  }
}

